# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Ideogram
IDEOGRAM_API_KEY=

# FedaPay
FEDAPAY_SECRET_KEY=
FEDAPAY_PUBLIC_KEY=
FEDAPAY_ENVIRONMENT=live
FEDAPAY_WEBHOOK_SECRET=

# Admin Whitelist
ADMIN_EMAILS=admin1@email.com,admin2@email.com
